<nav>
  <span class="size1of4">
    <a href="{{ path('_cms_user_create') }}">Create User</a>
  </span>
  <span class="size1of4">
    <a href="{{ path('_cms_user_edit') }}">Edit User</a>
  </span>
  <span class="size1of4">
    <a href="{{ path('_cms_users_list') }}">List Users</a>
  </span>
  <span class="fRight smallClickable">Logout</span>
</nav>