{{ include("TestCMSCMSBundle:Default:base_top.html.twig") }}

 <title>Admin - Edit User</title>
  </head>

{{ include("TestCMSCMSBundle:Default:base_top2.html.twig") }}

{{ include("TestCMSCMSBundle:User:admin_nav.html.twig") }}

<h1 class="adminH1">Edit User</h1> 

<p></p>

{{ include("TestCMSCMSBundle:Default:base_bottom.html.twig") }}
