  <body>
    
    <header>
    
      <div id="topBanner">
       <img src="{{ asset('bundles/testcmscms/images/new_cms_logo.png') }}" 
        alt="banner text" id="bannerText" />
       <img src="{{ asset('bundles/testcmscms/images/notepad_logo_small.png') }}" 
        alt="banner picture" id="bannerPic" />
        
      </div>
    
    </header>